.fc-scroller.fc-day-grid-container {
    height: 100% !important;


}

.fc-row.fc-week.fc-widget-content {

    height: 96px !important;
}

.fc-unthemed td.fc-today {
    background: rgba(255, 255, 255, 1) !important;
    color: #ED4949;

}

button.fc-prev-button.fc-button.fc-button-primary {

    border-color: #ED4949 !important;
    background-color: #30363C;
}

button.fc-next-button.fc-button.fc-button-primary {

    border-color: #ED4949 !important;
    background-color: #30363C;
}

button.fc-today-button.fc-button.fc-button-primary {

    border-color: #ED4949 !important;
    background-color: #30363C;

}

span.fc-day-number {

    padding-right: 10px !important;
}

td.fc-head-container.fc-widget-header {


    font-weight:lighter;
}
