


/* Backgrounds Colors */

.bg-black {
    background-color: #353C42 !important;
}

.bg-black2 {
    background-color: #2A2F34 !important;
}

.bg-black3 {
    background-color: #30363C !important;
}

.bg-black4 {
    background-color: #202020 !important;
}

.bg-black5 {
    background-color: #1E2021 !important;
}

.bg-gradient-blue {
background: linear-gradient(180deg, #0173c3 10%, #2673c3 100%);
}

.bg-gradient-black {
background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #37449e, #005688); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Colores del contenedor Base */
.bg-base-nav {
    background: #2e2f30 !important;
}

.bg-base-nav-gradient {
    background: #2e2f30;
    background: -moz-linear-gradient(left, #2e2f30 0%, #000000 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #2e2f30), color-stop(100%, #000000));
    background: -webkit-linear-gradient(left, #2e2f30 0%, #000000 100%);
    background: -o-linear-gradient(left, #2e2f30 0%, #000000 100%);
    background: -ms-linear-gradient(left, #2e2f30 0%, #000000 100%);
    background: linear-gradient(to right, #2e2f30 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2f30', endColorstr='#000000', GradientType=1 );
}

/* Border Color - Bordes */
.border-black {
    border: 1px solid #353C42 !important;
}
.border-black2 {
    border: 1px solid #2A2F34 !important;
}
.border-black3 {
    border: 1px solid #30363C !important;
}
.border-black4 {
    border: 1px solid #202020 !important;
}
.border-black5 {
    border: 1px solid #1E2021 !important;
}
.border-info {
    border: 1px solid #36b9cc !important;
}
.border-warning {
    border: 1px solid #f6c23e !important;
}
.border-danger {
    border: 1px solid #e74a3b !important;
}
.border-req {
    border: 1px solid #5C1D1C !important;
}
.border-ep {
    border: 1px solid #0F4D21 !important;
}
.border-inc {
    border: 1px solid #5C1D1C !important;
}
.border-bottom-black {
    border-bottom: .2rem solid #353C42 !important;
}
.padding-1 {
    padding-bottom: 0rem !important;
}

/*Text Siza - tamaño texto */
.text-s { /*Para tablas con muchos datos*/
    font-size: .79rem;
}

.text-m { /*Para tablas con pocos datos*/
    font-size: .95rem;
}

/*Text Color */
.text-black {
  color: #353C42 !important;
}
.text-black2 {
  color: #2A2F34 !important;
}
.text-black3 {
  color: #30363C !important;
}
.text-black4 {
  color: #0C0C0C !important;
}

.text-white {
  color: #959595 !important;
}

.text-white2 {
  color: #848b8e !important;
}

.text-white3 {
  color: #676767  !important;
}
.text-blue {
  color: #d8ebff  !important;
}

.text-green {
  color: #c3ffe9  !important;
}

.text-red {
  color: #ffdfdf !important;
}
.text-red2 {
  color: #9e4343 !important;
}

/* Botones Black, black2 y black3 Buttons */

.btn-black {
  color: #81878C;
  background-color: #353C42;
  border-color: #343B40;
}

.btn-black:hover {
  color: #9DA7AE;
  background-color: #2F363C;
  border-color: #353C42;
}

.btn-black.disabled:hover {
    cursor:not-allowed
 }

.btn-black:focus, .btn-black.focus {
    color: #979FA5;
    background-color: #3C454B;
  border-color: #394247;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(53, 60, 66, 0.1);
  box-shadow: 0 0 0 0.2rem rgba(53, 60, 66, 0.1);
}

.btn-black.disabled, .btn-black:disabled {
  color: #fff;
  background-color: #5a5c69;
  border-color: #5a5c69;
}
.btn-black:not(:disabled):not(.disabled):active, .btn-black:not(:disabled):not(.disabled).active,
.show > .btn-black.dropdown-toggle {
  color: #DEE8EC;
  background-color: #414B50;
  border-color: #414B50;
}

.btn-black:not(:disabled):not(.disabled):active:focus, .btn-black:not(:disabled):not(.disabled).active:focus,
.show > .btn-black.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(115, 116, 128, 0.5);
  box-shadow: 0 0 0 0.1rem rgba(115, 116, 128, 0.5);
}

.bg-base-nav {
    background: #2e2f30 !important;
}

/* Botones Black2 */

.btn-black2 {
  color: #7B8084;
  background-color: #27292A;
  border-color: #232627;
}

.btn-black2:hover {
  color: #899197;
  background-color: #242627;
  border-color: #232627;
}

.btn-black2:focus, .btn-black2.focus {
    color: #899197;
    background-color: #252525;
  border-color: #1B1E1F;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(53, 60, 66, 0.1);
  box-shadow: 0 0 0 0.1rem rgba(53, 60, 66, 0.1);
}

.btn-black2.disabled, .btn-black2:disabled {
  color: #fff;
  background-color: #5a5c69;
  border-color: #5a5c69;
}

.btn-black2:not(:disabled):not(.disabled):active, .btn-black2:not(:disabled):not(.disabled).active,
.show > .btn-black2.dropdown-toggle {
  color: #A4ADB4;
  background-color: #242424;
  border-color: #303030;
}

.btn-black2:not(:disabled):not(.disabled):active:focus, .btn-black2:not(:disabled):not(.disabled).active:focus,
.show > .btn-black2.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(115, 116, 128, 0.5);
  box-shadow: 0 0 0 0.1rem rgba(115, 116, 128, 0.5);
}

/* Botones Back3 */

.btn-black3 {
  color: #7B8084;
  background-color: #1C1E20;
  border-color: #1C1E20;
}

.btn-black3:hover {
  color: #899197;
  background-color: #151719;
  border-color: #151719;
}

.btn-black3:focus, .btn-black3.focus {
    color: #899197;
    background-color: #252525;
  border-color: #1B1E1F;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(53, 60, 66, 0.1);
  box-shadow: 0 0 0 0.1rem rgba(53, 60, 66, 0.1);
}

.btn-black3.disabled, .btn-black3:disabled {
  color: #fff;
  background-color: #5a5c69;
  border-color: #5a5c69;
}

.btn-black3:not(:disabled):not(.disabled):active, .btn-black3:not(:disabled):not(.disabled).active,
.show > .btn-black3.dropdown-toggle {
  color: #A4ADB4;
  background-color: #242424;
  border-color: #303030;
}

.btn-black3:not(:disabled):not(.disabled):active:focus, .btn-black3:not(:disabled):not(.disabled).active:focus,
.show > .btn-black3.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(115, 116, 128, 0.5);
  box-shadow: 0 0 0 0.1rem rgba(115, 116, 128, 0.5);
}

/* Botones Black4 */

.btn-black4 {
    color: #7B8084;
    background-color: #2f3335;
    border-color: #37393a;
}

.btn-black4:hover {
  color: #899197;
  background-color: #242627;
  border-color: #232627;
}

.btn-black4:focus, .btn-black2.focus {
    color: #899197;
    background-color: #252525;
  border-color: #1B1E1F;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(53, 60, 66, 0.1);
  box-shadow: 0 0 0 0.1rem rgba(53, 60, 66, 0.1);
}

.btn-black4.disabled, .btn-black2:disabled {
  color: #fff;
  background-color: #5a5c69;
  border-color: #5a5c69;
}

.btn-black4:not(:disabled):not(.disabled):active, .btn-black4:not(:disabled):not(.disabled).active,
.show > .btn-black4.dropdown-toggle {
  color: #A4ADB4;
  background-color: #242424;
  border-color: #303030;
}

.btn-black4:not(:disabled):not(.disabled):active:focus, .btn-black4:not(:disabled):not(.disabled).active:focus,
.show > .btn-black4.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(115, 116, 128, 0.5);
  box-shadow: 0 0 0 0.1rem rgba(115, 116, 128, 0.5);
}



hr {
    margin-top: .4rem;
    margin-bottom: .4rem;
    border: 0;
    border-top: 1px solid rgba(87, 88, 89, 0.4);
}

/* Component's Style */
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #353C42;
    border-radius: 0rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

/* Select, and Input text Focus */

.select2 {
  width: 100%!important; /* overrides computed width, 100px in your demo */
}

.select-red select:focus {
    box-shadow: 0 0 4px rgba(231, 74, 59, 1);
    border: 1px solid rgba(249, 117, 104, 1);
    outline: none !important;
}

.select-warning select:focus {
     box-shadow: 0 0 3px #FBCB0D;
    border: 1px solid #e74a3b;
    outline: none !important;
}

.select-black select:focus {
    box-shadow: 0 0 6px #1E2021;
    border: 1px solid #1E2021;
    outline: none !important;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(60, 70, 80, 0.5);
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus,
textarea:focus {
     box-shadow: 0 0 6px #1E2021;
    border: 1px solid #1E2021;
}

textarea[type=text]:focus {
    box-shadow: 0 0 6px #1E2021;
    border: 1px solid #1E2021;
}

/* Table Black */

.table-black {
  color: #B2B2B2;
  background-color: #353C42;
}
  .table-black th,
  .table-black td,
  .table-black thead th,
  .table-black tbody + tbody {
    border-color: #2A2F34;
      border-width:medium;
  }

.table-hover tbody tr:hover {
  color: #E1E1E1;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Paginations Black */

.page-link {
    color: #eaecf4;
    background-color: #202020;
    border: 1px solid #5a5c69;
}

.page-link:hover {
    color: #eaecf4;
    background-color: #353C42;
    border-color: #858796;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #353C42;
  border-color: #151515;
}
.page-item.disabled .page-link {
    background-color: #202020;
    border-color: #5a5c69;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #30363C;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2A2F34;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Pestañas */

a {
    color: #6e707e;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #8E8C8C;
    background-color: #2A2F34;
    border-color: #2A2F34 #2A2F34 #ED4949;
    border-bottom-width: 1px;
    height: 100%;
}
.nav-tabs {
    border-bottom: 2px solid #2F3A44;
}

.nav-tabs .nav-link:focus {
    border-color: #2A2F34 #2A2F34 #ED4949; /* Arriba / Derecha / Abjo / Izquierda  */
    color: #8E8C8C;
    border-bottom-width: 1px;
    height: 100%;
}


.nav-tabs .nav-link:hover {
  border-color: #2A2F34 #2A2F34 #ED4949;
    color: #808689;
    border-bottom-width: 1px;
    height: 100%;
}



/* Badge para collapse */

.badge-black {
  color: #959595;
  background-color: #353C42;
}

.input-group-prepend {
    margin-right: 1px;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #959595;
    text-align: center;
    white-space: nowrap;
    background-color: #eaecf4;
    border: 1px solid #353C42;
    border-radius: .35rem;
}

/* Select2 */

.select2-hidden-accessible {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    -webkit-clip-path: inset(50%)!important;
    clip-path: inset(50%)!important;
    height: 1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
    white-space: nowrap!important;
}

/* Modal */

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #e74a3b;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e74a3b;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

/* CARD */

.card-body2 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .4rem .75rem 0rem .75rem; /* Arriba / Derecha / Abjo / Izquierda  */
}

.card-body3 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2.8rem 1.5rem 1.5rem 2.3rem; /* Arriba / Derecha / Abjo / Izquierda  */
    border: 1px;
    border-bottom-color: aqua;
    border-bottom: 1px;
}

/* Container - fluid */

.container-fluid {
    padding-left: 1rem;
    padding-right: 2rem;
}


/* Chekbox */

.custom-control-input:checked ~ .custom-control-label::before {
  color: #000;
  border-color: #57626D;
  background-color: #2A2F34;
}
.custom-control-input:focus ~ .custom-control-label::before {
  color: #000;
  border-color: #57626D;
}


/* Tabla correo */






/* ------------------------------------------------------------------*/



.border-bot-danger {
    border-bottom: 1px solid #e74a3b !important;
}

.cuerpo-correo {

    height: 476px;
    padding: 20px;
    margin: 14px;
    border-color: #202020;
    vertical-align: middle;

}

.cuerpo-correo > h3 > strong {


    height: 300px !important;

    vertical-align: text-bottom;

}

.cuerpo-correo > h3  {

     vertical-align: text-bottom;
    height: 300px !important;


}

.vertical-center {

    vertical-align: middle;

}

.separar > li {

    padding-right:10px;
    padding-left:15px;
    padding-bottom: 0px;
    padding-top: 0px;

    border-color: #2A2F34 #2A2F34 #ED4949;
    border-bottom-width: 1px;

}

.separar > li > a > h4 > i {

    border-color: #2A2F34 #2A2F34 #ED4949 !important;
    border-bottom-width: 1px !important;
}

.separar {

    padding: 0px;
    margin-left: 20px;
    margin-bottom: 8px;

    border-color: #2A2F34 #2A2F34 #ED4949 !important;
    border-bottom-width: 1px !important;

}







.nav-tab2 > a:hover {

    color: rgba(255, 255, 255, .8);
    border-color: #2A2F34 #2A2F34 #ED4949;
}

.nav-tab2 > a:focus {

    color: rgba(255, 255, 255, .8);
    border-color: #2A2F34 #2A2F34 #ED4949;
}

.nav-tab2.show {
   color: rgba(255, 255, 255, .8);

}

.nav-tab2 > a.active {
   color: rgba(255, 255, 255, .8);

}

.nav-link2 {
    margin-left: 10px;
    font-size: 78%;


}

.nav-link2:hover {

    color: rgba(255, 255, 255, .8);
}

.block-correo {

    width: 98%;
    margin-top: 10px;
    height: 60px;
    padding: 5px;
    border-radius: 5px;
    border-bottom-color: red;

}

.block-correo:hover {

    background-color: #30363C;

}

.espacio {

    padding-left: 36px;
}
.border-bot-black {
    border-bottom: 1px solid #202020 !important;
}

.border-bot-black:hover {
    border-bottom: 1px solid #e74a3b !important;

    color: rgba(255, 255, 255, .8) !important;
    cursor:pointer;
}

.border-bot-black:hover > a {


    color: rgba(255, 255, 255, .8) !important;

}

.border-bot-black > a:hover{

    color: rgba(255, 255, 255, .8);
    cursor:pointer;
}

.fc-unthemed td.fc-today {
    background: #fcf8e3;
}





























