
/* footer {
    position: fixed;
    bottom: 0;
    width: 100%;
} */


.sidebar {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.topbar #sidebarToggleTop:hover {
    background-color: #242627;
}

.bg-base-nav-gradient{
    background: #2e2f30;
    background: -moz-linear-gradient(left, #2e2f30 0%, #000000 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #2e2f30), color-stop(100%, #000000));
    background: -webkit-linear-gradient(left, #2e2f30 0%, #000000 100%);
    background: -o-linear-gradient(left, #2e2f30 0%, #000000 100%);
    background: -ms-linear-gradient(left, #2e2f30 0%, #000000 100%);
    background: linear-gradient(to right, #2e2f30 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2f30', endColorstr='#000000', GradientType=1 )
}

.bg-base-nav{
    background: #2e2f30 !important;
}

/* Background SLA */

.bg-expires-200{
    background: #9b0f0f !important;
    color: white;
}

.bg-expires{
    background: #ff1515 !important;
    color: white;
}

.bg-expires-75{
    background: #ff4e4e !important;
    color: white;
}

.bg-expires-50{
    background: #fb6969 !important;
    color: white;
}

.bg-expires-25{
    background: #f88c8c !important;
    color: white;
}

.bg-success-200{
    background: #12835a !important;
    color: white;
}

.topbar .dropdown-list .dropdown-item {
    border-left:inherit;
    border-right:inherit;
    border-bottom:inherit;
}

/* bordes */

.border-top-info {
    border-top: .25rem solid #36b9cc !important;
}
.border-right-info {
    border-right: .25rem solid #36b9cc !important;
}

.border-top-primary {
    border-top: .25rem solid #4e73df !important;
}

.border-right-primary {
    border-right: .25rem solid #4e73df !important;
}

.border-top-success {
    border-top: .25rem solid #1cc88a !important;
}
.border-right-success {
    border-right: .25rem solid #1cc88a !important;
}

.border-top-danger {
    border-top: .25rem solid #e74a3b !important;
}
.border-right-danger {
    border-right: .25rem solid #e74a3b !important;
}

.border-top-warning {
    border-top: .25rem solid #f6c23e !important;
}

.border-right-warning {
    border-right: .25rem solid #f6c23e !important;
}

/* Nav Tabs */

.nav-item>a {
    color: #b7b9cc ;
    text-decoration: none;
    background-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #6e707e;
    background-color: #3a3b45;
    border-color: inherit;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: inherit;
}

.nav-tabs {
    border-bottom: 1px solid #6e707e;
}

/* Modals */

.modal-header {
    border-bottom: 1px solid #858796;
}

.modal-footer {
    border-top: 1px solid #858796;
}

/* Collapse */

.card-dark-custom {
    background-clip: border-box;
    border: 1px solid #B7B9CC   ;
    border-radius: 0;
}
.card-header-custom:first-child {
    border-radius: 0;
}

/* Paginations */
.page-item.disabled .page-link {
    background-color: #5a5c69;
    border-color: #5a5c69;
}

.page-link {
    color: #eaecf4;
    background-color: #5a5c69;
    border: 1px solid #5a5c69;
}

.page-link:hover {
    color: #eaecf4;
    background-color: #858796;
    border-color: #858796;
}

/* New Style */

.card-header:first-child {
    border-radius: 0;
}

/* Widgets */

.section-blank{
    width: 35px;
}

.section-anotation{
    width: 56.3%;
}

/* (1920x1080) Full HD Display */
@media  screen and (min-width: 1920px) {
    .section-anotation{
        width: 54.9%;
    }
}


