.texto-centro {

text-align:center;
background-color:grey;
width: 100%;
height: 300%;
    border-color:dimgray;
    border-style: dashed;
    border-radius: 10px;

}

.separadorform {


    width: 100%;
    margin-left: -15px;
    margin-right: -20px;
    text-align:left;

}

.textarea {
    width: 1090px;


}
